# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# govendor cache
.cache

# ignore vendor packages
vendor/*
!vendor/vendor.json

.idea/

# ignore upload image
public/upload/img/*
