# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# govendor cache
.cache

# ignore vendor packages
app/src/vendor/*
!app/src/vendor/modules.txt

# code editor config
.idea/*
.vscode/

# ignore upload image
app/src/public/upload/img/*
!app/src/public/upload/img/README.md

# debug
app/src/debug

# mysql
mysql/data/*
!mysql/data/README.md
mysql/logs/*
!mysql/logs/README.md

